@import url("slider.css");
@import url("contactForm.css");

:root {
    --main-h-color: #D3573C;
    --second-p-color: #901C1C;
    --tertiary-color: #525252;
    --bg-color-encart: #DB8876;
    --color: #FAFAFA;
}

.photograph-header {
    background-color: var(--color);
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    order: 2;
}

.photograph-header h1 {
    color: var(--main-h-color);
    font-size: 64px;
    margin: 0;
}

.photograph-header section p:nth-child(2) {
    color: var(--second-p-color);
    font-size: 24px;
    margin: 0;
}

.photograph-header section p {
    color: var(--tertiary-color);
    font-size: 18px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: var(--color);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--second-p-color);
    border-radius: 5px;
    cursor: pointer;
    order: 1;
}

.contact_button:hover,.contact_button:focus {
    background-color: var(--bg-color-encart);
    color: black;
}

.section-media {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.vignette {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: var(--second-p-color);
}

.btn-likes {
    border: none;
    background: none
}

.likes {
    width: 18px;
    height: 18px;
}

#encart {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 376px;
    height: 69px;
    margin-right: 50px;
    border-radius: 5px 5px 0 0;
    background-color: var(--bg-color-encart);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.container-likes {
    display: flex;
    align-items: center;
}

#order-by {
    width: 170px;
    height: 69px;
    background-color: var(--second-p-color);
    color: var(--color);
    font-size: 18px;
    padding: 14px;
    border: none;
    border-radius: 5px;
}